Repository sdolidze/jamstack-workshop-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, eslint -f stylish --fix --ignore-path .gitignore

added vscode settings & extensions
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write --ignore-path .gitignore

update readme & engines
  README.md
  package.json
Due: prettier --write --ignore-path .gitignore

configured vuetify treeshaking
  gridsome.server.js
  package.json
  src/main.js
Due: prettier --write --ignore-path .gitignore, eslint -f stylish --fix --ignore-path .gitignore

everything is ready :rocket:
  gridsome.server.js
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore, eslint -f stylish --fix --ignore-path .gitignore

Update README.md
  README.md
Due: prettier --write --ignore-path .gitignore

update readme :scroll:
  .vscode/extensions.json
  README.md
Due: prettier --write --ignore-path .gitignore

removed yarn.lock
  yarn.lock
Due: none

Path conditions:
  prettier --write --ignore-path .gitignore: any of: *.{json,scss,css,md,js,vue}
  eslint -f stylish --fix --ignore-path .gitignore: any of: *.{js,vue}
